<h1 mat-dialog-title>Trazabilidad del Activo</h1>
<h2 mat-dialog-title class="subtitle">{{ data.assetID }}</h2>

<mat-dialog-content>
    <mat-card class="info-card">
        <mat-card-header>
            <mat-card-title>{{ data.nombreComercial }}</mat-card-title>
            <mat-card-subtitle>Lote: {{ data.lote }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p><strong>Estado Actual:</strong> {{ estadoNombre(data.estadoActual) }}</p>
            <p><strong>Propietario Actual:</strong> {{ getPropietarioNombre(data.propietarioActualID) }}</p>
            <p><strong>Vencimiento:</strong> {{ data.fechaVencimiento | date:'dd/MM/yyyy' }}</p>
        </mat-card-content>
    </mat-card>

    <h3>Historial de Transacciones</h3>

    @if (cargando) {
    <div class="spinner-container">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>
    }

    <mat-list>
        @for (item of (historial | async); track item.txId) {
        <mat-card>
            <br>
            <mat-list-item class="history-item">
                <mat-icon matListItemIcon>check_circle</mat-icon>
                <div matListItemTitle class="tx-id">TX-ID: <span class="selectable">{{ item.txId }}</span></div>
                <div matListItemLine>
                    <span><strong>Estado:</strong> {{ estadoNombre(item.medicamento.estadoActual) }}</span>
                </div>
                <div matListItemLine>
                    <span><strong>Propietario:</strong> {{ getPropietarioNombre(item.medicamento.propietarioActualID) }}</span>
                </div>
                <div matListItemLine>
                    <span><strong>Fecha:</strong> {{ item.timestamp | date:'dd/MM/yyyy HH:mm:ss' }}</span>
                </div>
            </mat-list-item>
            <br>
        </mat-card>
        <br>
        }
    </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">Cerrar</button>
</mat-dialog-actions>