html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

.gradient-toolbar {
    background: linear-gradient(90deg, #03a9f4 0%, #673ab7 100%);
    color: white;
}

.utn-logo {
    height: 40px;
    margin-right: 15px;
}

.color-consulta {
    color: #3f51b5;
}

.color-accion {
    color: #673ab7;
}