html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

.gradient-toolbar {
    background: linear-gradient(90deg, #03a9f4 0%, #673ab7 100%) !important;
    color: white !important;
}

.utn-logo {
    height: 40px;
    margin-right: 15px;
}

.color-consulta {
    color: white !important;
    background: #3f51b5 !important;
}

.color-accion {
    color: white !important;
    background: #673ab7 !important;
}